*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
height: 100vh;
width: 100%
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(139,197,216);
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(68,161,192);
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(10,109,143);
}